
.DS_Store
Books/2015-nature-lecun-bengio-hinton-9页.pdf
Books/AI圣经-Bengio.pdf
Books/Bengio__DeepLearning.pdf
Books/byteofpython.pdf
Books/CNN：综述论文详解卷积网络的数学本质.pdf
Books/DL课程笔记-TessFerrandez-p28 - 课堂用注释版.pdf
Books/Machine Learning.pdf
Books/Machine Learning中文版.pdf
Books/Machine Learning符号.pdf
Books/吴恩达--点赞.xps
Books/周志华《机器学习》.pdf
Books/微软刘铁岩：人工智能的挑战与机遇.pdf
Books/数字图像处理_第三版.pdf
Books/数据挖掘导论  完整版.pdf
Books/最全的DNN概述论文：详解前馈、卷积和循环神经网络技术.pdf
Books/武大周思瑶--深度学习与神经网络笔记.pdf
Books/褚晓文教授：五大深度学习框架三类神经网络全面测评.pdf
Books/高等数学 第7版 上下册 同济大学.pdf/高等数学 第7版 上册 同济大学.pdf
Books/高等数学 第7版 上下册 同济大学.pdf/高等数学 第7版 下册 同济大学.pdf
